* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $black;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $link-color-hover;
  }
}

h1, h2, h3, h4 h5, h6 {
  font-family: $font-family-headings;
}

h1 {
  font-size: 2em;

  @media (min-width: $responsive-breakpoint) {
    font-size: 2.5em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  background-repeat: repeat;
  background-position: left top;
  @include img-retina("../../assets/images/pattern-grid@1x.jpg",
                      "../../assets/images/pattern-grid@2x.jpg",
                      18px, 18px);
}

.container {
  width: $puzzle-size + 2 * $gutter-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media (min-width: $responsive-breakpoint) {
    width: $puzzle-size-lg + 2 * $gutter-width;
  }
}